<form autocomplete="off">
    <p>{{content}}</p>
    <div class="card-selection-grid discard-selection">
        {{#each cards}}
        <label class="card-selection-item">
            <img src="{{this.faces.0.img}}" loading="lazy" title="{{this.name}}" />
            <input type="checkbox" name="cardIds" value="{{this._id}}">
            <span class="card-name">{{this.name}}</span>
        </label>
        {{/each}}
    </div>
</form>