<form>
    <div class="form-group">
        <label>{{localize "TNX.NumberOfDecks"}}</label>
        <div class="form-fields">
            <input type="number" name="deckCount" value="2" min="1" step="1">
        </div>
        <p class="notes">{{localize "TNX.NumberOfDecksHint"}}</p>
    </div>
    <div class="form-group">
        <label for="createFaceDown">{{localize "TNX.CreateFaceDown"}}</label>
        <input type="checkbox" name="createFaceDown" checked>
        <p class="notes">{{localize "TNX.CreateFaceDownHint"}}</p>
    </div>
    
    <div class="form-group">
        <label for="shuffleDeck">{{localize "TNX.ShuffleOnCreate"}}</label>
        <input type="checkbox" name="shuffleDeck" checked>
        <p class="notes">{{localize "TNX.ShuffleOnCreateHint"}}</p>
    </div>
</form>