<form>
    <div class="form-group">
        <label>{{localize "TNX.NumberOfDecks"}}</label>
        <div class="form-fields">
            <input type="number" name="deckCount" value="2" min="1" step="1">
        </div>
    </div>
    <p class="notes">{{localize "TNX.NumberOfDecksHint"}}</p>

    <div class="form-group-checkbox">
        <input type="checkbox" id="createFaceDown" name="createFaceDown" checked>
        <label for="createFaceDown">{{localize "TNX.CreateFaceDown"}}</label>
    </div>
    <p class="notes">{{localize "TNX.CreateFaceDownHint"}}</p>

    <div class="form-group-checkbox">
        <input type="checkbox" id="shuffleDeck" name="shuffleDeck" checked>
        <label for="shuffleDeck">{{localize "TNX.ShuffleOnCreate"}}</label>
    </div>
    <p class="notes">{{localize "TNX.ShuffleOnCreateHint"}}</p>
</form>
