<div class="tnx-neuro-card-chat tokyo-nova">
    <div class="tnx-neuro-card-chat__header">
        <span class="tnx-neuro-card-chat__type-label">ニューロカード</span>
    </div>
    <div class="tnx-neuro-card-chat__body">
        {{#if cardImage}}
            <img class="tnx-neuro-card-chat__image" src="{{cardImage}}" alt="{{cardName}}">
        {{/if}}
        <div class="tnx-neuro-card-chat__info">
            {{#if cardNameRomaji}}
                <div class="tnx-neuro-card-chat__romaji">{{cardNameRomaji}}</div>
            {{/if}}
            <div class="tnx-neuro-card-chat__name">{{cardName}}</div>
            <hr class="tnx-neuro-card-chat__divider">
            <div class="tnx-neuro-card-chat__field">
                <span class="tnx-neuro-card-chat__field-label">キーワード</span>
                <span class="tnx-neuro-card-chat__field-value">{{{keyword}}}</span>
            </div>
            <div class="tnx-neuro-card-chat__field">
                <span class="tnx-neuro-card-chat__field-label">暗示</span>
                <span class="tnx-neuro-card-chat__field-value">{{{implication}}}</span>
            </div>
        </div>
    </div>
</div>
