<section class="{{cssClass}}">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}"/>

        <div class="header-fields">
            <h1 class="charname-container">
                <input class="furigana-input" name="system.furigana" type="text" value="{{system.furigana}}" placeholder="フリガナ" />
                <input class="itemname-input" name="name" type="text" value="{{item.name}}" placeholder="神業" />
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-action="tab" data-group="primary" data-tab="description">説明</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="setting">設定</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="usage">用途</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="effects">効果</a>
    </nav>

     <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="tnx-editor-section">

              <div class="tnx-editor-section__header">
                    <label>説明</label>

                </div>
                <div class="tnx-editor-section__content">
                    {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tnx-editor-section">
                <div class="tnx-editor-section__header">
                    <label>条件</label>
                </div>
                <div class="tnx-editor-section__content">
                    {{editor enrichedConditionDescription target="system.usageCondition" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        <div class="tab setting" data-group="primary" data-tab="setting">
            <fieldset class="tnx-fieldset">
                <legend>識別キー</legend>
                <div class="tnx-form-field">
                    <div class="form-group">
                        <label>識別キー</label>
                        <input type="text" name="system.identificationKey" value="{{system.identificationKey}}" placeholder="識別キーを入力"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="tnx-fieldset">
                <legend>使用回数</legend>
                <div class="tnx-form-field">
                    <div class="form-group">
                        <label for="isUsed">使用済み</label>
                        <input type="checkbox" id="isUsed" name="system.isUsed" {{checked system.isUsed}}>
                    </div>
                    <div class="form-group">
                        <label>残り使用回数</label>
                        <div class="number-input-spinner">
                            <button type="button" data-action="decrementLevel" class="tnx-btn">-</button>
                            <input class="ability-value" type="number" name="system.usageCount.total" value="{{system.usageCount.total}}" {{#if system.isUsed}} disabled {{/if}}>
                            <button type="button" data-action="incrementLevel" class="tnx-btn">+</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab usage" data-group="primary" data-tab="usage">
            {{> "systems/tokyo-nova-axleration/templates/parts/usage-list.hbs"}}
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/tokyo-nova-axleration/templates/parts/active-effects-list.hbs"}}
        </div>
    </section>
</section>