<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        
        <div class="header-fields">
            <h1 class="charname-container">
                <input class="furigana-input" name="system.furigana" type="text" value="{{system.furigana}}" placeholder="フリガナ" />
                <input class="itemname-input" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'TYPES.Item.miracle'}}" />
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "TNX.Common.Description"}}</a>
        <a class="item" data-tab="setting">{{localize "TNX.Common.Setting"}}</a>
        <a class="item" data-tab="usage">用途</a>
        <a class="item" data-tab="effects">{{localize "TNX.Common.Effects"}}</a>
    </nav>

     <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="tnx-editor-section">
  
              <div class="tnx-editor-section__header">
                    <label>{{localize "TNX.Common.Description"}}</label>
                </div>
                <div class="tnx-editor-section__content">
                    {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}      
                </div>
            </div>
            <div class="tnx-editor-section">
                <div class="tnx-editor-section__header">
                    <label>{{localize "TNX.Item.Miracle.Condition"}}</label>
                </div>
                <div class="tnx-editor-section__content">
                    {{editor enrichedConditionDescription target="system.usageCondition" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        <div class="tab setting" data-group="primary" data-tab="setting">
            <fieldset class="tnx-fieldset">
                <legend>{{localize "TNX.UsageCount"}}</legend>
                <div class="tnx-form-field">
                    <div class="form-group">
                        <label for="isUsed">{{localize "TNX.Used"}}</label>
                        <input type="checkbox" id="isUsed" name="system.isUsed" {{checked system.isUsed}}>
                        <p class="sheet-notes notes">{{localize "TNX.UsedHint"}}</p>
                    </div>
                    <div class="form-group">
                        <label>{{localize "TNX.RemainingUses"}}</label>
                        <div class="number-input-spinner">
                            <button type="button" data-action="decrement-level" class="tnx-button">-</button>
                            <input class="ability-value" type="number" name="system.usageCount.total" value="{{system.usageCount.total}}" {{#if system.isUsed}} disabled {{/if}}>
                            <button type="button" data-action="increment-level" class="tnx-button">+</button>
                        </div>
                        <p class="sheet-notes notes">{{localize "TNX.RemainingUsesHint"}}</p>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab usage" data-group="primary" data-tab="usage">
            {{> "systems/tokyo-nova-axleration/templates/parts/usage-list.hbs"}}
        </div>
        
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/tokyo-nova-axleration/templates/parts/active-effects-list.hbs"}}
        </div>
    </section>
</form>