<section class="{{cssClass}}">
    {{!-- ヘッダーエリア --}}
    <header class="sheet-header outfit-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="アウトフィット名"/>
            </h1>
            <div class="outfit-category">
                {{#if isEditMode}}
                    <select name="system.majorCategory">
                        {{selectOptions options.majorCategory selected=system.majorCategory}}
                    </select>
                    <select name="system.minorCategory">
                        {{selectOptions options.minorCategory selected=system.minorCategory}}
                    </select>
                {{else}}
                    <span class="outfit-category-label">{{view.category}}</span>
                {{/if}}
            </div>
        </div>
    </header>

    {{!-- タブナビゲーション --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-action="tab" data-group="primary" data-tab="description">説明</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="setting">設定</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="effects">エフェクト</a>
    </nav>

    {{!-- タブコンテンツ --}}
    <section class="sheet-body">

        {{!-- 説明タブ --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="style-skill-display">
                <div class="style-skill-display-grid">
                    <div>
                        <label>購：</label>
                        <span>{{view.buy}}</span>
                    </div>
                    <div>
                        <label>隠：</label>
                        <span>{{view.hide}}</span>
                    </div>
                    <div>
                        <label>電制：</label>
                        <span>{{view.hack}}</span>
                    </div>
                    <div>
                        <label>部位：</label>
                        <span>{{view.part}}</span>
                    </div>
                </div>
            </div>

            <div class="tnx-editor-section">
                <div class="tnx-editor-section__header">
                    <label>解説</label>
                </div>
                <div class="tnx-editor-section__content">
                    {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- 設定タブ --}}
        <div class="tab setting" data-group="primary" data-tab="setting">
            <div class="settings-grid">
                <div class="form-group">
                    <label>準備済み</label>
                    <input type="checkbox" name="system.isPrepared" {{checked system.isPrepared}}>
                    <p class="sheet-notes notes">使用可能な状態にある場合にチェックします。身に付けられないアウトフィットにも適用されます。</p>
                </div>
                <div class="form-group">
                    <label>携帯中</label>
                    <input type="checkbox" name="system.isCarrying" {{checked system.isCarrying}}>
                    <p class="sheet-notes notes">身に着けている場合にチェックします。</p>
                </div>
                <div class="form-group">
                    <label>サイバーウェア</label>
                    <input type="checkbox" name="system.isCyber" {{checked system.isCyber}}>
                    <p class="sheet-notes notes">サイバーウェアである場合にチェックします（種別がサイバーウェア以外のアウトフィットの識別用）。</p>
                </div>
                <div class="form-group">
                    <label>プリプレイ購入</label>
                    <input type="checkbox" name="system.isPre-play" {{checked (lookup system "isPre-play")}}>
                    <p class="sheet-notes notes">常備化経験点を支払わずプリプレイで購入したアイテムの場合にチェックします。所持時の経験点消費がなくなります。</p>
                </div>
                <div class="form-group">
                    <label>オプション</label>
                    <input type="checkbox" name="system.isOption" {{checked system.isOption}}>
                </div>

                <fieldset class="tnx-fieldset">
                    <legend>識別キー</legend>
                    <div class="tnx-form-field">
                        <div class="form-group">
                            <label>識別キー</label>
                            <input type="text" name="system.identificationKey" value="{{system.identificationKey}}" placeholder="識別キーを入力"/>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="tnx-fieldset">
                    <legend>アウトフィット 詳細設定</legend>
                    <div class="tnx-form-field">
                        <div class="form-group">
                            <label>購入値</label>
                            <select name="system.buy.mode">
                                {{selectOptions options.buyHideMode selected=system.buy.mode}}
                            </select>
                            {{#if (eq system.buy.mode "value")}}
                                <div class="number-input-spinner">
                                    <button type="button" class="tnx-btn" data-action="decrementField" data-field="system.buy.value">-</button>
                                    <input type="number" name="system.buy.value" value="{{system.buy.value}}">
                                    <button type="button" class="tnx-btn" data-action="incrementField" data-field="system.buy.value">+</button>
                                </div>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label>常備化経験点</label>
                            <div class="number-input-spinner">
                                <button type="button" class="tnx-btn" data-action="decrementField" data-field="system.preserveExp">-</button>
                                <input type="number" name="system.preserveExp" value="{{system.preserveExp}}">
                                <button type="button" class="tnx-btn" data-action="incrementField" data-field="system.preserveExp">+</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>隠匿値</label>
                            <select name="system.hide.mode">
                                {{selectOptions options.buyHideMode selected=system.hide.mode}}
                            </select>
                            {{#if (eq system.hide.mode "value")}}
                                <div class="number-input-spinner">
                                    <button type="button" class="tnx-btn" data-action="decrementField" data-field="system.hide.value">-</button>
                                    <input type="number" name="system.hide.value" value="{{system.hide.value}}">
                                    <button type="button" class="tnx-btn" data-action="incrementField" data-field="system.hide.value">+</button>
                                </div>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label>危険値</label>
                            <div class="number-input-spinner">
                                <button type="button" class="tnx-btn" data-action="decrementField" data-field="system.appearancePenalty">-</button>
                                <input type="number" name="system.appearancePenalty" value="{{system.appearancePenalty}}">
                                <button type="button" class="tnx-btn" data-action="incrementField" data-field="system.appearancePenalty">+</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>電脳制御値</label>
                            <div class="number-input-spinner">
                                <button type="button" class="tnx-btn" data-action="decrementField" data-field="system.hack">-</button>
                                <input type="number" name="system.hack" value="{{system.hack}}" placeholder="なし">
                                <button type="button" class="tnx-btn" data-action="incrementField" data-field="system.hack">+</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>部位</label>
                            <input type="text" name="system.part" value="{{system.part}}" placeholder="部位を入力"/>
                        </div>

                        {{!-- タイミング(スタイル技能と共通の選択肢) --}}
                        <div class="form-group align-start">
                            <label>タイミング</label>
                            <div class="form-fields-column">
                                {{#each system.timing as |t idx|}}
                                <div class="array-row">
                                    <select name="system.timing.{{idx}}.value">
                                        {{selectOptions ../options.timing selected=t.value}}
                                    </select>

                                    {{#if (eq t.value "other")}}
                                        <input type="text" name="system.timing.{{idx}}.timingOther" value="{{t.timingOther}}" placeholder="タイミングを入力"/>
                                    {{/if}}
                                    {{#if (eq t.value "action")}}
                                        <select name="system.timing.{{idx}}.actionName">
                                            {{selectOptions ../options.actions selected=t.actionName}}
                                        </select>
                                    {{/if}}
                                    {{#if (eq t.value "process")}}
                                        <select name="system.timing.{{idx}}.processName">
                                            {{selectOptions ../options.processes selected=t.processName}}
                                        </select>
                                    {{/if}}

                                    <div class="row-controls">
                                        {{#if (eq idx 0)}}
                                            <a class="tnx-row-btn" data-target="timing" title="行を追加">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        {{/if}}
                                        {{#if (gte idx 1)}}
                                            <a class="tnx-row-btn--delete" data-target="timing" data-index="{{idx}}" title="削除">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label>専用</label>
                            <input type="text" name="system.exclusive" value="{{system.exclusive}}" placeholder="専用スタイル・ワークス"/>
                        </div>

                        {{!-- 使用回数(数値入力はスピナー不使用の例外) --}}
                        <div class="form-group">
                            <label>回数制限あり</label>
                            <input type="checkbox" name="system.uses.isLimit" {{checked system.uses.isLimit}}>
                        </div>
                        {{#if system.uses.isLimit}}
                            <div class="form-group">
                                <label>使用回数(現在／最大)</label>
                                <input type="number" name="system.uses.value" value="{{system.uses.value}}"/>
                                <input type="number" name="system.uses.max" value="{{system.uses.max}}"/>
                            </div>
                        {{/if}}
                    </div>
                </fieldset>
            </div>
        </div>

        {{!-- エフェクトタブ --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/tokyo-nova-axleration/templates/parts/active-effects-list.hbs"}}
        </div>
    </section>
</section>
