<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="アイテム名"/></h1>
            <div class="resource-row">
                <div class="form-group">
                    <label>大分類</label>
                    <select name="system.majorCategory">
                        {{selectOptions majorCategories selected=system.majorCategory}}
                    </select>
                </div>
                <div class="form-group">
                    <label>小分類</label>
                    <select name="system.minorCategory">
                        {{selectOptions minorCategories selected=system.minorCategory}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">詳細</a>
        <a class="item" data-tab="description">解説</a>
        <a class="item" data-tab="effects">エフェクト</a>
    </nav>

    <section class="sheet-body">
        {{!-- 詳細タブ --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- 共通ステータス --}}
            <fieldset class="tnx-fieldset">
                <legend>基本データ</legend>
                <div class="grid grid-4col">
                    <div class="form-group">
                        <label>購入</label>
                        <input type="text" name="system.buy" value="{{system.buy}}">
                    </div>
                    <div class="form-group">
                        <label>常備化</label>
                        <input type="text" name="system.stock" value="{{system.stock}}">
                    </div>
                    <div class="form-group">
                        <label>隠匿</label>
                        <input type="text" name="system.concealment" value="{{system.concealment}}">
                    </div>
                    {{#if (or hasCyber hasVehicle hasHousing)}}
                    <div class="form-group">
                        <label>電脳</label>
                        <input type="text" name="system.cyberControl" value="{{system.cyberControl}}">
                    </div>
                    {{/if}}
                    {{#if (ne system.majorCategory "housing")}}
                    <div class="form-group">
                        <label>部位</label>
                        <input type="text" name="system.part" value="{{system.part}}">
                    </div>
                    {{/if}}
                    <div class="form-group">
                        <label>危険</label>
                        <input type="text" name="system.danger" value="{{system.danger}}">
                    </div>
                </div>
            </fieldset>

            {{!-- 攻撃性能 --}}
            {{#if hasAttack}}
            <fieldset class="tnx-fieldset">
                <legend>攻撃データ</legend>
                <div class="grid grid-3col">
                    <div class="form-group">
                        <label>攻撃力</label>
                        <input type="text" name="system.attack.value" value="{{system.attack.value}}">
                    </div>
                    <div class="form-group">
                        <label>属性</label>
                        <input type="text" name="system.attack.damageType" value="{{system.attack.damageType}}" placeholder="S/P/Iなど">
                    </div>
                    {{#if showGuard}}
                    <div class="form-group">
                        <label>受け値</label>
                        <input type="text" name="system.guardValue" value="{{system.guardValue}}">
                    </div>
                    {{/if}}
                    {{#if showRange}}
                    <div class="form-group">
                        <label>射程</label>
                        <input type="text" name="system.range" value="{{system.range}}">
                    </div>
                    {{/if}}
                    {{#if showSlot}}
                    <div class="form-group">
                        <label>スロット</label>
                        <input type="text" name="system.slot" value="{{system.slot}}">
                    </div>
                    {{/if}}
                </div>
            </fieldset>
            {{/if}}

            {{!-- 防御性能 --}}
            {{#if hasDefence}}
            <fieldset class="tnx-fieldset">
                <legend>防御データ</legend>
                <div class="grid grid-3col">
                    <div class="form-group">
                        <label>斬(S)</label>
                        <input type="text" name="system.defence.S_defence" value="{{system.defence.S_defence}}">
                    </div>
                    <div class="form-group">
                        <label>刺(P)</label>
                        <input type="text" name="system.defence.P_defence" value="{{system.defence.P_defence}}">
                    </div>
                    <div class="form-group">
                        <label>殴(I)</label>
                        <input type="text" name="system.defence.I_defence" value="{{system.defence.I_defence}}">
                    </div>
                </div>
                {{#if showControlMod}}
                <div class="form-group">
                    <label>制御値修正</label>
                    <input type="text" name="system.controlMod" value="{{system.controlMod}}">
                </div>
                {{/if}}
            </fieldset>
            {{/if}}

            {{!-- IANUS/トロン特殊 --}}
            {{#if showIanus}}
            <fieldset class="tnx-fieldset">
                <legend>IANUSデータ</legend>
                <div class="grid grid-3col">
                    <div class="form-group">
                        <label>表層</label>
                        <input type="text" name="system.conscious" value="{{system.conscious}}">
                    </div>
                    <div class="form-group">
                        <label>深層</label>
                        <input type="text" name="system.subconscious" value="{{system.subconscious}}">
                    </div>
                    <div class="form-group">
                        <label>無意識</label>
                        <input type="text" name="system.unconscious" value="{{system.unconscious}}">
                    </div>
                </div>
            </fieldset>
            {{/if}}

            {{#if hasTron}}
            <fieldset class="tnx-fieldset">
                <legend>トロンデータ</legend>
                <div class="grid grid-3col">
                    {{#if showTronSlots}}
                    <div class="form-group">
                        <label>サイクル</label>
                        <input type="text" name="system.cycle" value="{{system.cycle}}">
                    </div>
                    <div class="form-group">
                        <label>ソフトSL</label>
                        <input type="text" name="system.software" value="{{system.software}}">
                    </div>
                    <div class="form-group">
                        <label>ハードSL</label>
                        <input type="text" name="system.hardware" value="{{system.hardware}}">
                    </div>
                    <div class="form-group">
                        <label>CS修正</label>
                        <input type="text" name="system.combatSpeedMod" value="{{system.combatSpeedMod}}">
                    </div>
                    {{/if}}
                    {{#if showSlot}}
                    <div class="form-group">
                        <label>スロット</label>
                        <input type="text" name="system.slot" value="{{system.slot}}">
                    </div>
                    {{/if}}
                </div>
            </fieldset>
            {{/if}}

            {{!-- ヴィークル --}}
            {{#if hasVehicle}}
            <fieldset class="tnx-fieldset">
                <legend>ヴィークルデータ</legend>
                <div class="grid grid-3col">
                    <div class="form-group">
                        <label>移動力(SF)</label>
                        <input type="text" name="system.speedFactor" value="{{system.speedFactor}}">
                    </div>
                    <div class="form-group">
                        <label>乗員</label>
                        <input type="text" name="system.passenger" value="{{system.passenger}}">
                    </div>
                    <div class="form-group">
                        <label>スロット</label>
                        <input type="text" name="system.slot" value="{{system.slot}}">
                    </div>
                </div>
            </fieldset>
            {{/if}}

            {{!-- 住宅 --}}
            {{#if hasHousing}}
            <fieldset class="tnx-fieldset">
                <legend>住宅データ</legend>
                <div class="grid grid-3col">
                    <div class="form-group">
                        <label>登場判定</label>
                        <input type="text" name="system.appearanceTarget" value="{{system.appearanceTarget}}">
                    </div>
                    <div class="form-group">
                        <label>電脳SEC</label>
                        <input type="text" name="system.cyberSecurity" value="{{system.cyberSecurity}}">
                    </div>
                    <div class="form-group">
                        <label>物理SEC</label>
                        <input type="text" name="system.analogSecurity" value="{{system.analogSecurity}}">
                    </div>
                </div>
            </fieldset>
            {{/if}}
            
            <div class="form-group">
                 <label>タイミング</label>
                 <input type="text" name="system.timing" value="{{system.timing}}">
            </div>

            <div class="form-group">
                 <label>使用回数（設定する場合）</label>
                 <div class="grid grid-3col">
                     <div><label>制限あり</label><input type="checkbox" name="system.uses.isLimit" {{checked system.uses.isLimit}}></div>
                     <div><label>現在</label><input type="number" name="system.uses.value" value="{{system.uses.value}}"></div>
                     <div><label>最大</label><input type="number" name="system.uses.max" value="{{system.uses.max}}"></div>
                 </div>
            </div>
        </div>

        {{!-- 解説タブ --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="tnx-editor-section__content">
                 {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- エフェクトタブ --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/tokyo-nova-axleration/templates/parts/active-effects-list.hbs"}}
        </div>
    </section>
</form>