<div class="tnx-item-list">
    <div class="tnx-item-list__row tnx-item-list__row--header">
        <div class="tnx-item-list__column--main">名称</div>
        <div class="tnx-item-list__column--duration">効果時間</div>
        <div class="tnx-item-list__column--controls">
            <a class="tnx-icon-ctrl" data-action="createEffect" title="作成">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <ol class="item-list-body">
        {{#each allEffects as |effect|}}
            <li class="tnx-item-list__row" data-effect-id="{{effect.id}}">
                <div class="tnx-item-list__column--main">
                    <img class="effect-image" src="{{effect.img}}" alt="{{effect.name}}"/>
                    <h4 class="{{#if effect.disabled}}disabled{{/if}}">{{effect.name}}</h4>
                </div>
                <div class="tnx-item-list__column--duration">
                    {{effect.duration.label}}
                </div>
                <div class="tnx-item-list__column--controls">
                    <a class="tnx-icon-ctrl" data-action="toggleEffect" title="切り替え">
                        <i class="fas fa-power-off"></i>
                    </a>
                    <a class="tnx-icon-ctrl" data-action="editEffect" title="編集">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="tnx-icon-ctrl" data-action="deleteEffect" title="削除">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
        {{/each}}
    </ol>
</div>