<div class="tnx-bs-container">
    <div class="tnx-bs-grid">
        {{#each badStatuses as |bs|}}
        <button type="button"
            class="tnx-bs-btn {{#if ../isEditMode}}tnx-bs-btn--edit{{else}}tnx-bs-btn--view{{/if}}"
            {{#if ../isEditMode}}data-action="removeBadStatus"{{/if}}
            data-effect-id="{{bs.id}}"
            data-status-id="{{bs.statusId}}"
            data-tooltip="{{bs.details}}">
            <img src="{{bs.img}}" class="tnx-bs-icon"/>
            <span class="tnx-bs-label">{{bs.name}}</span>
            {{#if ../isEditMode}}<i class="fas fa-times tnx-bs-remove"></i>{{/if}}
        </button>
        {{/each}}

        {{#unless badStatuses.length}}
        <span class="tnx-bs-empty">
            現在受けているバッドステータスはありません。
        </span>
        {{/unless}}
    </div>
</div>
